.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }



  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;
}


.featurette-heading {
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#Formulario {

  margin: auto;
  width: 400px;
  border-radius: 60px;
  background-color: #343a40;
  padding: 30px;
  border: solid 1px;
  text-align: center;
  color: white;
}



input[type=password] {
  font-size: 20px;
  color: #0000ff;
  width: 100%;
  padding: 1px 30px;
  margin: 10px 0;
  display: inline-block;
  border: px solid rgb(21, 10, 10);
  border-radius: 40px;
  box-sizing: border-box;

}


input[type=text],
input[type=date],
input[type=email],
select,
textarea {
  font-size: 20px;
  color: #000000;
  width: 100%;
  padding: 1px 30px;
  margin: 10px 00px;
  display: inline-block;
  border: px solid rgb(7, 3, 3);
  border-radius: 40px;
  box-sizing: border-box;
}


input[type=submit],
input[type=reset] {
  width: 30%;
  background-color: #4caf4f;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #343a40;
  width: 40%;
}


input:hover {
  border-color: #1cbc248a;
  box-shadow: 2px 2px 10px rgba(13, 152, 183, 0.993);
  border: none;
}

select:hover {
  background-color: #e0e0e0;
}


label {
  color: #ffffff;
  font-size: 20px;
}


iframe {
  border-radius: 30px;
}


